.Announcements {
    margin-top: 150px;
}

.Announcements h1 {
    font-size: 48px;
    margin-left: 100px;
}

.announcements-container {
    margin-bottom: 100px;
}

.announcements-info-container h2 {
    font-size: 30px;
    margin-bottom: 30px;
    margin-top: 5px;
}

.announcements-info-container p {
    margin: 12px 0;
    font-size: 20px;
}

.announcements-info-container {
    display: flex;
    flex-direction: row;
    border: 2px solid #5BADCC;
    border-radius: 5px;
    padding: 2rem 4rem;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    font-size: 16px;
    width: 80%;
    margin: 0 auto 50px auto;
}

.announcements-info-container .announcements-details-wrapper {
    display: flex;
    flex-direction: column;
}

.announcements-info-container .announcements-image-wrapper {
    margin-left: auto;
}

.announcements-info-container .announcements-image-wrapper img {
    height: 400px;
    width: auto;
    border-radius: 30px;
}

.announcements-info-container button {
    background-color: #5BADCC;
    border-radius: 10px;
    color: black;
    padding: 10px 40px;
    text-decoration: none;
    font-weight: bold;
    display: block;
    font-size: 20px;
    text-align: center;
    margin-top: auto;
    border: none;
    cursor: pointer;
}

.newsletter-container {
    background-color: #5BADCC;
    padding: 100px;
    display: flex;
}

.newsletter-container h2 {
    font-size: 40px;
}

.newsletter-container p {
    font-size: 20px;
}

.newsletter-info-container {
    width: 40%;
}

.newsletter-form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    min-height: 60vh;
}

.newsletter-form-container input {
    width: 100%;
    padding: 10px;
    margin: 40px 0;
    border-radius: 5px;
    border: 1px solid #AAAAAA;
    box-sizing: border-box;
    margin-top: 0;
    font-size: 20px;
}

.newsletter-form-container label {
    margin-bottom: 5px;
    display: block;
}

.newsletter-form-container button {
    padding: 10px 20px;
    background: black;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 20px;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.newsletter-form-wrapper {
    border: 1px solid black;
    border-radius: 25px;
    padding: 50px;
}

@media screen and (max-width: 950px) {
    .announcements-image-wrapper {
        display: none;
    }

    .announcements-info-container {
        padding: 1rem 2rem;
    }

    .announcements-info-container .announcements-details-wrapper a {
        margin-top: 50px;
    }

    .Announcements h1 {
        font-size: 40px;
    }
}

@media screen and (max-width: 750px) {
    .announcements-info-container {
        width: 60%;
        padding: 1.5rem 3rem;
    }
    
    .announcements-info-container h2 {
        font-size: 26px;
    }

    .Announcements h1 {
        font-size: 36px;
        margin-left: 0;
        text-align: center;
    }

    .announcements-info-container p {
        font-size: 16px;
    }
}
  