.Bookings {
    margin-top: 150px;
}

.Bookings h1 {
    font-size: 48px;
    margin-left: 100px;
}

.bookings-container .cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 1rem;
    width: 90%;
    margin: 0 auto 100px auto;
}
  
.bookings-container .card {
    border: 2px solid #5BADCC;
    border-radius: 5px;
    padding: 1rem;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    font-size: 16px;
    transition: transform 0.25s ease;
    position: relative;
}

.bookings-container .card h2 {
    font-size: 20px;
    margin-bottom: 30px;
}

#cancel {
    position: absolute;
    right: 20px;
    bottom: 20px;
    background-color: red;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
}

.no-bookings-message {
    min-height: 60vh;
    margin-left: 100px;
    margin-top: 50px;
}

.no-bookings-message a {
    background-color: #5BADCC;
    border-radius: 10px;
    color: black;
    padding: 10px 40px;
    text-decoration: none;
    font-weight: bold;
}

.no-bookings-message p {
    margin-bottom: 50px;
}

@media (max-width: 1200px) {
    .bookings-container .cards-container {
        grid-template-columns: repeat(2, 1fr);
    }
}
  
@media (max-width: 850px) {
    .bookings-container .cards-container {
      grid-template-columns: 1fr;
    }

    .bookings-container h1 {
        font-size: 40px;
        margin-left: 0;
        text-align: center;
    }

    .no-bookings-message {
        margin-left: 0;
        text-align: center;
        width: 90%;
        margin: 50px auto;
    }
}