.instructors-container {
    margin: 150px 0;
}

.instructors-container h1 {
    font-size: 48px;
    margin-left: 100px;
}

.instructors-container .cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 1rem;
    width: 90%;
    margin: 0 auto;
  }
  
.instructors-container .card {
    border: 2px solid #5BADCC;
    border-radius: 5px;
    padding: 1rem;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    font-size: 20px;
}

.instructors-container .card h3 {
    font-size: 20px;
    margin-top: 30px;
}

.instructors-container .image-container {
    width: 100%;
    height: 400px;
    overflow: hidden;
    display: flex;
}

.instructors-container img {
    width: auto;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
}

.instructors-container a {
    background-color: #5BADCC;
    border-radius: 10px;
    color: black;
    padding: 15px 80px;
    text-decoration: none;
    font-weight: bold;
    display: block;
    width: fit-content;
    margin: auto;
    margin-top: 50px;
    font-size: 20px;
}
  
@media (max-width: 1200px) {
    .instructors-container .cards-container {
        grid-template-columns: repeat(2, 1fr);
    }
}
  
@media (max-width: 850px) {
    .instructors-container .cards-container {
      grid-template-columns: 1fr;
    }

    .instructors-container h1 {
        font-size: 40px;
        margin-left: 0;
        text-align: center;
    }
}