.instructors-container {
    margin: 150px 100px;
}

.instructors-container h1 {
    font-size: 48px;
}

.instructors-container .cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 1rem;
  }
  
.instructors-container .card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 1rem;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
  
@media (max-width: 768px) {
.instructors-container .cards-container {
    grid-template-columns: repeat(2, 1fr);
}
}
  
  @media (max-width: 480px) {
    .instructors-container .cards-container {
      grid-template-columns: 1fr;
    }
  }